@mixin alinhamentoflex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
$hd: 1366px;
body {
  @include alinhamentoflex;
  margin: 0;
  padding: 0;
  font-family: Montserrat;
  list-style: none;
  overflow-x: hidden;
}
nav {
  width: 90%;

  #vector-forma-logo {
    position: absolute;
    top: -2%;
    left: -2%;
    z-index: -1;
  }
  ul {
    width: 100%;
    max-width: 1920px;
    height: 22px;
    display: flex;
    margin: 0 auto;
    justify-content: flex-end;
    li {
      padding: 20px;
      list-style: none;
      width: 120px;
      a {
        font-family: Montserrat;
        font-size: 15px;
        font-weight: bold;
        color: #4f5ce4;
        text-decoration: none;
      }
    }
  }
}
#home {
  @include alinhamentoflex;
  flex-direction: row;
  margin-top: 5%;
  height: 100vh;
  width: 80%;
  max-width: 1920px;
  #mulher {
    width: 100%;
    transform: scale(1.2);
    margin-top: 5%;
    @media (max-width: 1366px) {
      transform: scale(1.5);
    }
  }
  #goline {
    transform: scale(1.5);
  }
  #textlanding {
    list-style-type: none;
    width: 100%;
    height: 60%;
    @include alinhamentoflex;
    margin-right: 10.2%;
    justify-content: end;
    #goline {
      transform: scale(1.5);
    }
    #textcalltoaction {
      margin-top: 7%;
      width: 100%;
      height: 72px;
      font-family: Montserrat;
      font-size: 30px;
      font-weight: 500;
      text-align: center;
      color: #333333;
      @media (max-width: 1366px) {
        font-size: 20px;
      }
    }
    #app {
      display: flex;
      justify-content: space-between;
      font-family: Montserrat;
      font-size: 14px;
      text-align: center;
      color: #333333;
      margin-top: 10%;
      .logos-stores {
        width: 42px;
        height: 42px;
        margin-right: 9px;
      }
      p {
        width: 300px;
        font-size: 18px;
        display: flex;
        @include alinhamentoflex;
        flex-direction: row;
        &:nth-child(2) {
          width: 300px;
        }
      }

      @media (max-width: 1366px) {
        width: 100%;
        margin-top: 0;
        p {
          font-size: 15px;
        }
      }
    }
  }
  #boxregister {
    width: 100%;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: bold;
    color: #333333;
    margin-top: 2.4%;
    @include alinhamentoflex;
    button {
      width: 120px;
      height: 44px;
      cursor: pointer;
      border: none;
      border-radius: 5px;
      background-color: #1cff9c;
      a {
        text-decoration: none;
        font-weight: 700;
        color: #148755;
      }
    }

    @media (max-width: 1366px) {
      font-size: 12px;
      margin-top: 0;
    }
  }
}
#vetor-forma-mulher {
  position: absolute;
  right: 35%;
  top: -1%;
  z-index: -1;
  transform: scale(1.4);
  @media screen and (max-width: 1366px) {
    transform: scale(0.9);
    right: 25%;
  }
}

#depoimentos {
  @include alinhamentoflex;
  width: 100%;
  #vetor-depoimentos-left {
    position: absolute;
    z-index: -1;
    transform: scale(1.2);
    left: 0;
  }
  #vetor-depoimentos-right {
    position: absolute;
    z-index: -1;
  }
  p {
    height: 37px;
    font-family: Montserrat;
    font-size: 40px;
    font-weight: bold;
    text-align: left;
    color: #4e5de4;
  }
  h1 {
    display: flex;
    width: 35%;
    text-align: center;
    @include alinhamentoflex;
    font-size: 30px;
    font-weight: 100;
  }
  #frases {
    width: 100%;
    div {
      display: flex;
      width: 90%;
      justify-content: space-between;
    }
    @include alinhamentoflex;
    img {
      width: 200px;
      height: 200px;
      border-radius: 37px;
    }
    h2 {
      flex-direction: row;
      text-align: center;
      font-style: italic;
      font-size: 20px;
      font-weight: bold;
    }
    &:nth-child(1) {
      align-self: flex-start;
    }
    &:last-child {
      align-self: flex-end;
    }
  }
  @media (max-width: 1366px) {
    p {
      font-size: 30px;
    }
    h1 {
      font-size: 20px;
    }
    #frases {
      h2 {
        font-size: 16px;
      }
    }
  }
}
#depoimentosCostureiras {
  width: 90%;
  margin-top: 10%;
  @include alinhamentoflex;
  .costureira {
    &:nth-child(3) {
      align-self: flex-start;
    }
    p {
      color: black;
      font-size: 25px;
      font-weight: normal;
    }
    margin-bottom: 5%;
  }
  p {
    font-family: Montserrat;
    font-size: 40px;
    font-weight: bold;
    color: #4e5de4;
    margin-bottom: 5%;
  }
  #vetor-costureiras-right {
    position: absolute;
    right: 0;
  }
  @media (max-width: 1366px) {
    .costureira {
      p {
        font-size: 20px;
      }
      h1 {
        font-size: 22px;
      }
    }
    p {
      font-size: 30px;
    }
  }
}

#team {
  width: 100%;
  height: 428px;
  background: #5f50e7;
  @include alinhamentoflex;
  flex-direction: row;
  .membroequipe {
    @include alinhamentoflex;
    margin-right: 9.7%;
    &:last-child {
      margin-right: 0;
    }
    img {
      width: 250px;
      height: 250px;
      border-radius: 37px;
    }
    h3 {
      font-family: Montserrat;
      font-size: 20px;
      line-height: 1.2;
      color: #ffffff;
    }
    h4 {
      margin-top: -12px;
      opacity: 0.33;
      font-family: Montserrat;
      font-size: 15px;
      color: #ffffff;
    }
  }
  @media (max-width: 1366px) {
    .membroequipe {
      margin-right: 5%;
      img {
        width: 200px;
        height: 200px;
      }
    }
  }
}
#footer {
  width: 100%;
  height: 200px;
  max-width: 800px;
  align-items: center;
  @include alinhamentoflex;
  flex-direction: row;
  justify-content: space-evenly;
  #golinefooter {
    margin-left: initial;
    transform: scale(1);
  }
  a {
    font-size: 20px;
    display: flex;
    color: black;
  }
}
