@mixin alinhamentoflex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body {
  @include alinhamentoflex;
  margin: 0;
  padding: 0;
  font-family: Montserrat;
}
nav {
  width: 90%;
  ul {
    width: 100%;
    max-width: 1920px;
    height: 22px;
    display: flex;
    margin: 0 auto;
    justify-content: flex-end;
    li {
      padding: 20px;
      list-style: none;
      width: 120px;
      a {
        font-family: Montserrat;
        font-size: 15px;
        font-weight: bold;
        color: #4f5ce4;
        text-decoration: none;
      }
    }
  }
}
#home {
  @include alinhamentoflex;
  flex-direction: row;
  align-items: center;
  margin-top: 5%;
  height: 100vh;
  width: 80%;
  max-width: 1366px;
  justify-content: space-between;
  align-items: flex-start;
  #mulher{
      width: 100%;
      margin-top: 0%;
  }
  #textlanding {
    list-style-type: none;    
    width: 100%;
    height: 80%;
    @include alinhamentoflex;
    margin-left: -3%;
    #goline{
      margin-top: -30%;
    }
    #textcalltoaction {
      margin-top: 5%;
      width: 100%;
      height: 72px;
      font-family: Montserrat;
      font-size: 30px;
      font-weight: 500;
      text-align: center;
      color: #333333;
    }
    #app {
      display: flex;
      font-family: Montserrat;
      font-size: 14px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.29;
      letter-spacing: normal;
      text-align: center;
      color: #333333;
      p {
        width: 182px;
        height: 18px;
      }
    }
  }
  #boxregister {
    width: 407px;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: bold;
    color: #333333;
    margin-top: 2.4%;
    @include alinhamentoflex;
    a {
      padding: 2% 5%;
      border-radius: 10px;
      background-color: #1cff9c;
      text-decoration: none;
      color: #148755;
    }
  }
}
