@mixin alinhamentoflex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body {
  @include alinhamentoflex;
  margin: 0;
  padding: 0;
  font-family: Montserrat;
  list-style: none;
}
nav {
  width: 90%;
  ul {
    width: 100%;
    max-width: 1920px;
    height: 22px;
    display: flex;
    margin: 0 auto;
    justify-content: flex-end;
    li {
      padding: 20px;
      list-style: none;
      width: 120px;
      a {
        font-family: Montserrat;
        font-size: 15px;
        font-weight: bold;
        color: #4f5ce4;
        text-decoration: none;
      }
    }
  }
}
#home {
  @include alinhamentoflex;
  flex-direction: row;
  align-items: center;
  margin-top: 5%;
  height: 100vh;
  width: 80%;
  max-width: 1366px;
  justify-content: space-between;
  align-items: flex-start;
  #mulher {
    width: 100%;
    margin-top: 0%;
  }
  #textlanding {
    list-style-type: none;
    width: 100%;
    height: 80%;
    @include alinhamentoflex;
    margin-left: -3%;
    #goline {
      margin-top: -30%;
    }
    #textcalltoaction {
      margin-top: 5%;
      width: 100%;
      height: 72px;
      font-family: Montserrat;
      font-size: 30px;
      font-weight: 500;
      text-align: center;
      color: #333333;
    }
    #app {
      display: flex;
      font-family: Montserrat;
      font-size: 14px;
      text-align: center;
      color: #333333;
      p {
        width: 182px;
        height: 18px;
      }
    }
  }
  #boxregister {
    width: 407px;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: bold;
    color: #333333;
    margin-top: 2.4%;
    @include alinhamentoflex;
    button {
      width: 120px;
      height: 44px;
      cursor: pointer;
      border: none;
      border-radius: 5px;
      background-color: #1cff9c;
      a {
        text-decoration: none;
        font-weight: 700;
        color: #148755;
      }
    }
  } 
}

#depoimentos{
  font-family: Montserrat;
  @include alinhamentoflex;
  p {
    text-align: center;
    font-weight: bold;
    margin-top: -10%;
    color: #4f5ce4;
    font-size: 40px;
    display: flex;
  }
  h1 {
    margin-left: -10%;
    text-align: center;
    @include alinhamentoflex;
    margin-left: -10%;
    font-size: 30px;
    font-weight: 100;
  }
  #frases{
    h1 {
      font-style: italic;
      flex-direction: row;
      @include alinhamentoflex;
      margin-top: 13%;
      margin-left: -400%;
      font-size: 20px;
      font-weight: bold;
    }
    h2 {
      font-style: italic;
      text-align: center;
      flex-direction: row;
      @include alinhamentoflex;
      font-size: 20px;
      font-weight: bold;
    }
    h3 {
      font-style: italic;
      text-align: center;
      flex-direction: row;
      @include alinhamentoflex;
      margin-top: -82%;
      margin-right: -400%;
      font-size: 20px;
      font-weight: bold;
    }
  }
} 
