ul {
  max-width: 1368px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  padding: 14px 16px;
}

li {
  float: right;
}

li a {
  display: block;
  color: #6e46e9;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: bold;
}

#home {
  max-width: 1368px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#textlanding {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
